APP_ENV=development
APP_PORT=8000

LOG_LEVEL=debug

DATABASE_URL=mysql+aiomysql://root:@localhost:3306/excerises

JWT_SECRET=your-secret-key-change-in-production
JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

HF_TOKEN=
HF_REPOSITORY=excerises/smart-fitness
HF_FITNESS_CLASSIFICATION_MODEL_NAME=fitness_svm_model.pkl
HF_FITNESS_CLASSIFICATION_SCALER_NAME=fitness_standard_scaler.pkl
HF_EXERCISE_RECOMMENDATION_MODEL_NAME=exercise_recommendation_knn_model.pkl
HF_EXERCISE_RECOMMENDATION_FEATURE_ENCODER_NAME=exercise_recommendation_onehot_features_encoder.pkl

AWS_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=rustfsadmin
AWS_SECRET_ACCESS_KEY=rustfsadmin
AWS_REGION=asia-east-1
AWS_BUCKET_NAME=excerises
